* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #25072e;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
}

.content-section {
    min-height: 100vh;
    width: auto;
    margin-left: 184px;  
    margin-bottom: 48px;      
}
/* -----------------------------------MENU------------------------------ */

.page-header {
    margin-left: 16px;
    position: fixed;
    width: 20vw;
}

.page-brand {
    margin-top: 40px;
}

.page-navigation__items {
    list-style: none;    
}

.page-navitagion__item {
    padding: 8px 0;
    margin-left: 0;    
}

.page-navitagion__item > a {
     color: #ec008c;
     text-decoration: none;
     font-size: 13px;
     font-weight: bold;
     letter-spacing: 6.7px;
}
/* -----------------------------------ZDJĘCIA------------------------------ */
.band-members {
    text-align: center;
}

.band-members__item {
    display: inline-block;
}

.band-members__name {
    color: #ccc8ff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3.8px;
    padding-top: 24px;
    padding-bottom: 8px;
}

.band-members__desc {
    color: #ccc8ff;
    opacity: 0.5;
    letter-spacing: 3.8px;
    font-size: 13px;
}

/* MIEJSCE NA SOCIAL media  */

/* -----------------------------------ABOUT------------------------------ */
.content-section__header {
    color: #ec008c;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 3.8px;
    float: right;
    margin-right: 16px;
}
/* -----------------------------------CONCERTS------------------------------ */
#concerts {
    
    text-align: center;
}

.concerts__item {
    display: inline-block;
}
/* -----------------------------------VIDEO------------------------------ */
#video {
    text-align: center;
}
/* -----------------------------------PHOTOS------------------------------ */

/* -----------------------------------CONTACT------------------------------ */

/* -----------------------------------FOOTER------------------------------ */
footer {
    position: fixed;
    width: 20vw;
    bottom: 0;
    left: 16px;
}

.screen-reader-only {
    visibility: hidden;
}

.social-links {
    list-style: none;
}